/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require rails_bootstrap_forms
 *= require social-share-button
 *= require_tree .
 *= require_self
 */

@import "social-share-button";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "slick-theme";
@import "slick";

label {
  font-family: "Ultra", serif;
}

a,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Ultra", serif;
}

header {
  background-image: image-url("/images/jeans-g073980674_1920.jpg");
  background-size: cover;
  color: white;
}

.object-fit {
  object-fit: cover;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.bg-mask {
  background: rgba(134, 132, 132, 0.6);
}

.link {
  color: black;
}

.file_field_message {
  display: none;
}
// 詳細ページの画像
.card-image {
  width: 100%;
  height: 45vh;
  background-color: lightgray;
  object-fit: contain;
}

// otherページのホバー
.post-image:hover {
  background-color: #0d996f;
}

.rounded-pill:hover {
  border-color: #008bbb;
}

.icons {
  font-size: 130%;
}

.award_icons {
  font-size: 300%;
}

.fa-heart:hover {
  color: #008bbb;
}

.fa-share-square:hover {
  color: #008bbb;
}

.other-jeans-image {
  width: 250px;
  height: 45vh;
  object-fit: contain;
}

.award-jeans-image {
  width: 200px;
  height: 40vh;
  object-fit: contain;
}

.award-jeans-image_logged_in {
  width: 150px;
  height: 35vh;
  object-fit: contain;
}

.reply_button:hover {
  cursor: pointer;
}

.view_replies_button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.hide_replies_button {
  display: none;
}

.hide_replies_button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.reply_field {
  display: none;
}

.parent_comment {
  position: fixed;
  top: 0;
  left: 0;
}

.trophy_icon::before {
  position: absolute;
  top: 0;
  animation: flash 2s linear infinite;
}

.trophy_complete:before {
  position: absolute;
  top: 0;
}

.favorites_color_session {
  color: #ff5192;
}

.favorites_color::before {
  position: absolute;
  top: 2px;
  text-decoration: none;
}

.favorites_color:hover {
  color: #ff5192;
}

.following_color::before {
  position: absolute;
  top: 0;
}

.edit_icon::before {
  position: absolute;
  top: 0;
}

$size: 22px;

.social-share-button {
  .ssb-icon {
    background-size: $size $size;
    height: $size;
    width: $size;
  }
}

//デニム背景色の色

.first_step {
  background-color: #043c78;
}

.second_step {
  background-color: #0666cc;
}

.third_step {
  background-color: #087fff;
}

// コメント表示機能
.comments_view {
  cursor: pointer;
}

//　文字の点滅

.view_flash {
  color: #043c78;
  animation: flash 2s linear infinite;
}

@keyframes flash {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

// ノミネート投票機能

.nominate_form {
  display: none;
}

.faded_award_font {
  color: #000080;
}

.fashionable_award_font {
  color: #ff6600;
}

.whisker_award_font {
  color: #6600cc;
}

.shevron_award_font {
  color: #00dd00;
}

.best_501_award_font {
  color: #cd5c5c;
}

.fa-hand-point-left,
.fa-trophy_icon {
  font-size: 400%;
}

img {
  object-fit: contain; /* この一行を追加するだけ！ */
}
